// _page-block.scss
@import "../abstract/colors";
@import "../abstract/variables";

.app-page-block {
  position: relative;
  margin-top: 90px;

  .app-page-block__bg {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    text-align: center;
    font-size: 160px;
    font-weight: 900;
    text-transform: uppercase;
    color: white;
    -webkit-text-stroke: 1px $app-grey;
  }

  .app-page-block__main {
    position: relative;
    width: $app-home-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    z-index: 2;

    .app-page-block__title {
      font-size: 40px;
      font-weight: 900;
      text-transform: uppercase;
      text-align: center;
      color: $app-green;
    }

    .app-page-block__content {
      margin-top: 80px;
    }
  }
}
