###> laravel/framework ###
/node_modules
/public/build
/public/fonts
/public/images
/public/mix-manifest.json
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
###< laravel/framework ###

###> ide ###
/.idea
/.vscode
###< ide ###

###> laravel-shift/blueprint ###
draft.yaml
.blueprint
###< laravel-shift/blueprint ###

###> Code quality tools ###
.php-cs-fixer.cache
###< Code quality tools ###
