// the-profile.scss
@import "../abstract/colors";
@import "../abstract/variables";

.the-profile {
  width: 100%;
  height: 100vh;
  background-color: $app-green;

  .the-profile__content {
    display: flex;
    width: $app-home-width;
    padding-top: 25vh;
    margin-left: auto;
    margin-right: auto;

    .the-profile__avatar-img {
      width: 427px;
      height: 427px;
      border-radius: 50%;
    }

    .the-profile__info {
      margin-top: 60px;
      margin-left: 65px;

      .the-profile__i-am {
        font-size: 28px;
        font-weight: 400;
        color: white;
      }

      .the-profile__full-name {
        margin-top: 15px;
        font-size: 72px;
        font-weight: 900;
        -webkit-text-stroke: 2px white;
        color: $app-green;
      }

      .the-profile__specialty {
        margin-top: 22px;
      }

      .the-profile__cv {
        margin-top: 48px;
      }
    }
  }
}

@media (max-width: 1200px) {
  .the-profile {
    .the-profile__content {
      width: 960px;

      .the-profile__avatar-img {
        width: 352px;
        height: 352px;
      }

      .the-profile__info {
        margin-top: 25px;
      }
    }
  }
}

@media (max-width: 992px) {
  .the-profile {
    height: fit-content;

    .the-profile__content {
      width: fit-content;
      padding-top: 48px;
      padding-bottom: 48px;
      flex-direction: column;

      .the-profile__avatar-img {
        width: 624px;
        height: 624px;
      }

      .the-profile__info {
        margin-top: 45px;
        margin-left: 0;
        text-align: center;

        .the-profile__i-am {
          font-size: 26px;
        }

        .the-profile__full-name {
          margin-top: 20px;
          font-size: 63px;
        }

        .the-profile__cv {
          margin-top: 60px;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .the-profile {
    .the-profile__content {
      .the-profile__avatar {
        padding-left: 15px;
        padding-right: 15px;

        .the-profile__avatar-img {
          width: 100%;
          height: auto;
        }
      }

      .the-profile__info {
        .the-profile__full-name {
          margin-top: 20px;
          font-size: 52px;
        }
      }
    }
  }
}
